.intro
  .wrapper
    .topbar.clearfix
      .logo
        %img{src: '/images/logo.jpg'}
      .phone
        8 800 250 00 88
        .small
          бесплатно по России


    .title
      Вызовите менеджера-консультанта
      %br
      и получите цветную ламинацию
      %br
      окон в подарок


    .button
      Вызвать консультанта

    .contour


= haml :about
= haml :benefits
= haml :models
= haml :reasons
= haml :form
= haml :bonuses
= haml :contacts



.footer
  .wrapper
    .left
      © 2010–2013
      %br
      ООО «Качественные окна»
      %br
      ОГРН 1107746627735 ИНН 7743789349

    .right
      %a{href: 'http://abardacha.ru', target: '_blank'}
        %img{src: '/images/abardacha.jpg'}