.intro
  .wrapper
    .topbar.clearfix
      .logo
        %img{src: '/images/logo.jpg'}
      .phone
        - phones = ["(495) 540-58-46", "(495) 662-96-24", "(495) 662-47-54", "(495) 540-58-34", "(495) 660-36-89"]
        - sample_phone = phones.sample
        = sample_phone
        .small
          - if sample_phone == '(495) 662-96-24'
            Режим работы c 10:00 до 20:00
          - else
            - if Time.now.wday == 0 or Time.now.wday == 6
              Режим работы c 10:00 до 16:00
            - else
              Режим работы c 10:00 до 19:00


    .title
      Вызовите менеджера-консультанта
      %br
      и получите цветную ламинацию
      %br
      окон в подарок


    .button#scroll-to-form
      Вызвать консультанта

    .contour


= haml :about
= haml :benefits
= haml :models
= haml :reasons
= haml :form
= haml :bonuses
= haml :contacts



.footer
  .wrapper
    .left
      © 2010–2013
      %br
      ООО «Качественные окна»
      %br
      ОГРН 1107746627735 ИНН 7743789349

    .right
      %a{href: 'http://abardacha.ru', target: '_blank'}
        %img{src: '/images/abardacha.jpg'}